apiVersion: v1
kind: Namespace
metadata:
  name: carbon-profiling
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestion-api
  namespace: carbon-profiling
  labels:
    app: ingestion-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ingestion-api
  template:
    metadata:
      labels:
        app: ingestion-api
    spec:
      containers:
      - name: api
        image: carbon-ingestion-api:v1
        imagePullPolicy: Never  # Use local image from Minikube
        ports:
        - containerPort: 5000
          name: http
        env:
        - name: PORT
          value: "5000"
        - name: FLASK_ENV
          value: "production"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: ingestion-api-service
  namespace: carbon-profiling
spec:
  type: NodePort
  selector:
    app: ingestion-api
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
    name: http
